<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self';"/> -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'none'"> -->

    <!-- Styles -->
    <link rel="stylesheet" href="./../extensions/bootstrap/4.3.1/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">

    <!-- Scripts -->
    <script>
      window.$ = window.jQuery = require('jquery');
      const Strings = require('../scripts/strings');
    </script>
    <script src="../scripts/renderer.js"></script>
    <script>
      window.$(document).ready(function () {
        Strings.displayPageStrings()
      })
    </script>
  </head>
  <body>
    <div id="titleBar">
      <h1>MacDropAny</h1>
    </div>
    <!-- <h1>MacDropAny</h1> -->
    <div class="subtitle" data-string="subtitle">Sync any folder on your Mac with the cloud</div>
    <div class="container">
      <div class="row">
        <div class="col">
          <h3>
            Choose a folder to sync with the cloud:
          </h3>
          <button type="button" class="folder-chooser btn btn-primary" data-folder-chooser-id="source">Choose a Folder</button>
          <p id="source-folder-path"></p>
        </div>
        <div class="col">
          <!-- <h3> Choose a cloud storage service to sync with: </h3> <select name="cloud-storage-service" id="cloud-storage-service"> <option disabled="disabled" selected="selected">Choose service…</option> </select> -->
          <div class="col">
            <h3>
              Choose where in the cloud to store the folder:
            </h3>
            <button type="button" class="folder-chooser btn btn-primary" data-folder-chooser-id="target">Choose a Folder</button>
            <p id="target-folder-path"></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary" id="sync-button">Sync</button>
        </div>
      </div>
    </div>
  </body>
</html>