/*
grey: rgb(45, 49, 59)
white: rgb(249, 249, 250)
blue: rgb(0, 6, 46)
black: rgb(14, 14, 12)

light blue: rgb(23, 177, 221),
tomato: rgb(180, 57, 45),
black: rgb(0,0,3),
*/

/*
BLUE: #89ABE3
WHITE: #FCF6F5
 */

body,
html
{
    height: 100%;

    -webkit-app-region: drag;
}

body
{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

    width: 100%;
    margin: 0;

    transition-duration: .5s;
    transition-property: : background-color, color;
    text-align: center;

    color: #00223e;
    background-color: #deedf9;
}

body.dark-mode
{
    color: #deedf9;
    background-color: #0c2941;;
}

.step-container
{
    padding: 10px;

    cursor: pointer;
    transition-duration: 200ms;
    transition-property: background-color, color, border;

    border: 2px dashed #00223e88;
    border-radius: 10px;
}

.step-container:hover,
.step-container.is-dragover
{
    color: #deedf9;
    border: 2px solid #2460a7;
    background-color: #2460a7;
    /* border-color: #2460a7; */
}

.step-container.is-dragover
{
    cursor: copy;
    animation: pulse .2s infinite;
    animation-direction: alternate;

    border-style: dashed;
}

@keyframes pulse
{
    0%
    {
        border-color: white;
    }
    100%
    {
        border-color: #2460a7;
    }
}

.step-title
{
    font-size: 20px;
}


#titleBar
{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 37px;

    color: #deedf9;
    background-color: #2460a7;
}

button
{
    -webkit-app-region: no-drag;
}

#titleBar h1
{
    font-size: 18px;

    margin: 0;
}

.btn-primary
{
    color: #fcf6f5;
    background-color: #89abe3;
}
